body {
    margin: 0;
}
header {
    width: 100%;
    background: rgb(42, 177, 211);
    color :white;
    position: fixed;
    z-index:  1000; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
h2 {
  display: inline-block;
  margin: 7px;
}
h4 {
    color:rgb(9, 100, 105);
    text-transform: uppercase;
}
section {
    outline: 1px solid blue;
    width: 100%;
}
img {
width: 100%;
}
.mens {
    background: #fff;
    position: relative;
    bottom: 680px;
    left: 80px;
    padding: 10px;
    width: 450px;
    height: 190px;
}

#container-form {
    position: relative;
    left: 600px;
    bottom: 880px;
    height: 100%;
    width: 600px;
    background: #fff;
}
#textarea {
    width: 95%;
     height: 100px;
    font-size: 20px;
    outline: none;
    overflow-y:hidden;
    margin: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid rgba(240, 235, 235, 0.911);
    
    
}
#textarea:focus{
    border-bottom: solid #1b9fd3;
}
.container-p {
    position: relative;
    left: 50px;
    bottom: 780px;
    width: 1150px;
    
}
.container-links {
    position: inherit;
    width: 100%;
}
li {
    background: #fff;
    list-style: none;
    
    height: 100%;
    border-radius: 4px;
}
#save {
 position: relative;
 left: 10px; 
 font-size: 20px;
 text-transform: uppercase;
 margin: 7px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 border: none;
 width: 120px;
 height: 40px;
 border-radius: 5px;
}
#save:hover {
    color: #fff;
    background: rgb(22, 208, 233);
}
#contador {
    float: right;
    position: relative;
    right: 20px;
    font-size: 20px;
}
.nearly {
    color:blue;
}
.very-nearly {
    color:red;
}
